# .env (for development)
PORT=3000
NODE_ENV=development
DB_URL=mongodb://localhost:27017/test
 

# logging setup
LOG_LEVEL=debug
NODE_ENV=development


# Nodemailer setup (Optional)
MAIL_HOST=""
MAIL_PORT=""
MAIL_SECURE=""
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM_NAME="dhiraj"
